* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

:root {
  --white: #FFFFFF;
  --green-lighter:#CEEAE4;
  --green-darker: #1F8C77;
  font-size: 1rem;
}

#root {
  width: fit-content;
}

body {
  background-image: linear-gradient(to left,var(--green-lighter), var(--green-darker));
  display: grid;
  align-items: center;
  justify-content: center ;
  overflow: hidden;
}



#calculate {
  width: fit-content;
  height: fit-content;
  background-color: var(--white);
  margin-top: 100px;
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

input, #btn-calculate {
  border: 1px solid black;
  width: 12.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 2rem;
}

#btn-calculate {
  border: none;
  color: var(--white);
  background-color: #1F8C77;
  font-size: 1rem;
  cursor: pointer;
}

fieldset {
  border: none;
}

#result {
  font-size: 1.5rem;
}

footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

footer > a >  img {
  height: 30px;
  width: 30px;
  display: inline;
}

a {
  display: flex;
  align-items: center;
  gap:15px;
  color: var(black);
  text-decoration: none;
}

#total {
  font-size: 1.5rem;
}

@media (max-width: 720px) {
  :root {
    font-size: 0.8rem;
  }

  #calculate {
    margin-top: 50px;
  }



  body {
    width: 100vw;
  }
}

@media (max-width: 500px) {
  #calculate {
    width: 300px;
  }

}